@import url('https://fonts.googleapis.com/css?family=Montserrat');


nav {
  background-color: #333333;
}

.nav-link {
  color: #bbbbbb;
  font-size: 20px;
  /*
  border-left-width: 2px;
  border-left-color: #bbbbbb;
  border-left-style: solid;
  */
}

.active {
  color: #eeeeee;
  /*
  border-left-color: #eeeeee;
  */
}

a:hover {
  color: #eeeeee;
}

.bigblock {
  background-color: #333333;
  height: 650px;
  margin-top: 10px;
  padding: 20px 30px 20px 30px;
  color: #eeeeee;
}

.cvbigblock {
  background-color: #333333;
  height: 810px;
  margin-top: 10px;
  padding: 20px 30px 20px 30px;
  color: #eeeeee;
}

/*Background for the projects page.*/
.biggerblock {
  background-color: #333333;
  height: 1470px;
  margin-top: 10px;
  padding: 20px 30px 20px 30px;
  color: #eeeeee;
}

.imgblock {
  margin-top: 10px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-size: 50px;
}

#address {
  font-style: italic;
}

#pagetitle {
  text-align: left;
}
