@import url('https://fonts.googleapis.com/css?family=Montserrat');


nav {
  background-color: #333333;
}

li {
  font-size: 16px;
}

.nav-link {
  color: #bbbbbb;
}

.active {
  color: #eeeeee;
}

a:hover {
  color: #eeeeee;
}

.bigblock {
  background-color: #333333;
  height: 650px;
  margin-top: 10px;
  color: #eeeeee;
}

.cvbigblock {
  background-color: #333333;
  height: 800px;
  margin-top: 10px;
  color: #eeeeee;
}

.biggerblock {
  background-color: #333333;
  height: 1450px;
  margin-top: 10px;
  color: #eeeeee;
}

.imgblock {
  margin-top: 10px;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}


h1 {
  font-size: 50px;
}

#address {
  font-style: italic;
}

#pagetitle {
  text-align: left;
}
