@import url('https://fonts.googleapis.com/css?family=Montserrat');


nav {
  background-color: #333333;
}

li {
  font-size: 16px;
}

.nav-link {
  color: #cccccc;
}

.active {
  color: #eeeeee;
}

a:hover {
  color: #eeeeee;
}

.bigblock {
  background-color: #333333;
  height: 650px;
  margin-top: 10px;
  color: #eeeeee;
}

.imgblock {
  margin-top: 10px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}
